.content {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.content-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.content-icon-list {
  margin-bottom: 30px;
}

.content-li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--main-backgroung-color);
  border-radius: 4px;
}
.content-icon {
  width: 70px;
  height: 70px;
}

.section-content {
  padding-top: 94px;
  padding-bottom: 0;
}
.content-img {
  padding: 94px 0;
}
.content {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.item-content {
  width: 270px;
  margin-right: 30px;
    &:nth-child(4n) {
        margin-right: 0;
    }
}

.sabtitle-content {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.text-content {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}