.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}

.logo {
  text-decoration: none;
  display: block;
  margin-right: 93px;
}

.menu-list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding: 0;
  list-style: none;
}
.menu-li .menu-link {
  display: block;
}
.menu-li:not(:last-child) {
  margin-right: 50px;
}
.menu-link {
  text-decoration: none;
}
.header-contact-link {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.header-contact-icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contact-icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contact-li:not(:last-child) {
  margin-right: 50px;
}

.contact {
  text-decoration: none;
}
.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.menu-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.tel-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--hover-focus-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--hover-focus-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--hover-focus-color);
}
.current {
  color: var(--hover-focus-color);
  position: relative;
  
}
.current::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -32px;
  display: block;
  border-radius: 2px;
  background-color: currentColor;
}
