.title {
  padding: 0;
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.86;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.body {
  font-family: var(--main-font);
}

img {
  display: block;
}