:root {
  --hover-focus-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --hover-focus-text-color: #ffffff;
  --main-backgroung-color: #f5f4fa;
}
